.app{
  position: relative;
  min-height: 100vh;
}
.content{
  padding-bottom: 2.5rem;    /* Footer height */
}
.link {
    color:#fff
  }
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background: rgb(178, 154, 154);           /* Footer height */
    color:#fff;
    text-align: center;
}
  .notice{
    border-style: solid;
    width: 25%;
    margin: 0% 0% 0% 30%;
    padding: 0% 5% 0% 5%;
  }